@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

body {
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.menu {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexcontainer {
  display: flex;
  gap: 10px;
}

.menu-item {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

#apresentacao {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-midia {
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.info-dados {
  margin: 0;
}
.produto-apresentacao {
  background-color: black;
  color: white;
}
.produto-apresentacao,
.sustemtabilidade {
  display: flex;
  flex-direction: column;
}

.texto {
  flex: 1;
  padding: 20px;
}

.texto h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.texto p {
  margin-top: 0;
}

.gallery-item {
  width: 50%;
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-item {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .gallery-item {
    width: 100%;
  }
}
